---
layout: default
---

<section class="home posts postindex wrapper">

	<div class="postprofile">
		<img src="{{ site.author_image }}" class="author" alt="user">
		<div class="info">
			<h4>{{ site.author_name }}</h4>
			<p>{{ site.author_bio }}</p>
		</div>
	</div>

	<div class="book">
		<a href="/weblog/full-stack-engineer/" title="深圳市海亿达能源科技股份有限公司" class="book-cover">
			<img src="http://h.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=f9c67c15ac6eddc426e7b3fd01e0d1c0/3bf33a87e950352a316e77f85243fbf2b2118b37.jpg" alt="深圳市海亿达能源科技股份有限公司">
		</a>
		<div class="book-desc">
			
			

			
			<h2>深圳市海亿达能源科技股份有限公司</h2>
			<p>总部位于中国广东省深圳市科技园，是国内动态能源管控技术领先的高新技术企业，是能源管控之技术、产品与服务专业解决方案提供商。聚焦于用户端能源系统设施的整体能源管控、电能质量管控与改善等领域，为用户提供包括咨询、设计、产品供应、整体解决方案等全方位服务。。</p>
			<p>已为多个行业提供了能源管控、智能配电与电能质量监测改善解决方案，主要集中在石油、高速铁路与城市轨道交通、电信与企业数据中心、广电文化设施、公共建筑、机场与港口等基础设施、电子机械冶金等制造业等领域。</p>
			<p><a href="http://www.hietech.com.cn/" class="button">了解更多...</a></p>
		</div>
		
	</div>
	
	<h2>最新文章<small>（<a href="/weblog">全部</a>）</small></h2>
	<ul>
	{% for post in site.posts limit:5 %}
		<li class="post {% if post.featured == true %} featured {% endif %}">
			<a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %Y" }}</time></a>
		</li>
	{% endfor %}
	</ul>

</section>


</section>
